body{
		margin: 0;
		padding:0;
		height:100vh;
		width:100vw;
		font-family: "Montserrat",sans-serif;
	}

	.list-container{
		position:absolute;
		top:0;
		width: 100%;
		height:95%;
	}
	.list-container ul{
		list-style: none;
		height:0; /* starts at 0 to show map, then set to 100% */
		top:0;
		overflow:scroll; /* li disappears as ul collapses*/
		padding:0;
		overflow-x:hidden;
		margin:0;
		background-color: white;
		transition: height 1s;
	}
	.list-container li{
		padding: 5px;
		text-align: center;
  }
  .list-container li:hover{
  	box-shadow:0 2px 2px 0 rgba(0,0,0,.14),
		0 3px 1px -2px rgba(0,0,0,.2),
		0 1px 5px 0 rgba(0,0,0,.12)

  }
	#map{
		position:absolute;
		top:0;
		width:100%;
		height:95%;
	}

/*	.list-ul{
		margin:0;
		background-color: white;
		transition: height 1s;
	}*/


	/*additional*/
	.map_and_list{
		height: 95%;
	}
	.cell{
		height:5%;
		width:100%;
		position:absolute;
		bottom:0;
		background-color: #cc0000;
		color:white;
		text-align: center;
	}

	.cell p {
		background-color: #cc0000;
		margin-top:5px;
	}

.cell:hover > p{
	background-color: #8e0000;
}
.cell:hover{
	background-color: #8e0000;
}

.layover{
	position:absolute;
	top:0;
	background-color: #000000;
	opacity:0.6;
	height:100%;
	width:100%;
	color:#ffffff;
	font-size:40px;
	font-family: 'Pacifico', cursive;
}

.welcome-msg{
	text-align:center;
}

.instructions-container{
	text-align: center;
	font-size: 25px;
	margin:5px;
}

.instructions-content{
	display: inline-block;
	text-align: left;
}

.arrows img{
	position: absolute;
	bottom: 0;
	height:60px;
	width: 60px;
}

.left-arrow{
	float: left;
	margin-left: 15px;
	-webkit-animation: arrows 1s infinite; /* Safari 4.0 - 8.0 */
 animation: arrows 1s infinite;
}

.right-arrow{
	right: 0; /* float doesnt work with absolute*/
	margin-right: 15px;
	-webkit-animation: arrows 1s infinite; /* Safari 4.0 - 8.0 */
 animation: arrows 1s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes arrows {
 0%{bottom: 0px;}
 50%{bottom: 10px;}
 100%{bottom:0px;}
}

/* Standard syntax */
@keyframes arrows {
 0%{bottom: 0px;}
 50%{bottom: 10px;}
 100%{bottom:0px;}
}

/* Direction button div*/
#directions-button-container{
	width:0;
 right: 0;
 z-index: 9999;
	position: fixed;
 margin-top: 5%;
 display:inline-block;
 background-color:black;
 border-width: 0px;
 border-color: #BDBDBD;
 border-top-style: solid;
 border-left-style: solid;
 border-bottom-style: solid;
 border-bottom-left-radius:16px; 
 border-top-left-radius:16px;
 transition: width 3s;
}

#directions-button{
	color:white;
	padding:5px;
}
